<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-pregnancy.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  I'm Pregnant - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}


    <section class="nhsuk-section nhsuk-u-padding-top-4">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full nhsuk-section__content">

            <main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage nhsuk-u-padding-top-0" id="maincontent" role="main">
              <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
                <div >
                  <ol class="nhsuk-breadcrumb__list ">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/MT2">Home</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/MT2/Pregnancy">Pregnancy</a></li>
                  </ol>
                  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/MT2">Home</a></p>
                </div>
              </nav>

        <div class="nhsuk-u-reading-width">
          <h1>
            <span role="text">I'm Pregnant
              <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                <span class="nhsuk-u-visually-hidden"> - </span>
                Pregnancy
              </span>
            </span>
          </h1>
        </div>



<!-- ROW 1 -->
            <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-top-6">
              <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo_canon">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                        <h3 class="nhsuk-promo__heading">Early days</h3>
                        <p class="nhsuk-promo__description">Lorem ipsum dolor sit amet, consectetur adipisici elit.</p>
                    </div>
                    {% include "includes/_arrow.njk" %}
                  </a>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo_canon">
                  <a class="nhsuk-promo__link-wrapper" href="Im-pregnant/Week-by-week">
                    <div class="nhsuk-promo__content">
                        <h3 class="nhsuk-promo__heading">Week by week</h3>
                        <p class="nhsuk-promo__description">Lorem ipsum dolor sit amet, consectetur adipisici elit.</p>
                    </div>
                    {% include "includes/_arrow.njk" %}
                  </a>
                </div>
              </div>
            </div>

<!-- ROW 2 -->
          <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-top-6">
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="#">
                  <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Tests and scans</h3>
                      <p class="nhsuk-promo__description">Lorem ipsum dolor sit amet, consectetur adipisici elit.</p>
                  </div>
                  {% include "includes/_arrow.njk" %}
                </a>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="#">
                  <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Your health and wellbeing</h3>
                      <p class="nhsuk-promo__description">Lorem ipsum dolor sit amet, consectetur adipisici elit.</p>
                  </div>
                  {% include "includes/_arrow.njk" %}
                </a>
              </div>
            </div>
          </div>

<!-- ROW 3 -->
        <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-top-6">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="#">
                <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Keeping your baby well</h3>
                    <p class="nhsuk-promo__description">Lorem ipsum dolor sit amet, consectetur adipisici elit.</p>
                </div>
                {% include "includes/_arrow.njk" %}
              </a>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="#">
                <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Twins or multiples</h3>
                    <p class="nhsuk-promo__description">Lorem ipsum dolor sit amet, consectetur adipisici elit.</p>
                </div>
                {% include "includes/_arrow.njk" %}
              </a>
            </div>
          </div>
        </div>





          </div>
        </div>
      </div>
    </section>







{% endblock %}
