<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-pregnancy.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Week by week - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}


    <section class="nhsuk-section nhsuk-u-padding-top-4">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full nhsuk-section__content">

            <main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage nhsuk-u-padding-top-0" id="maincontent" role="main">
              <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
                <div >
                  <ol class="nhsuk-breadcrumb__list ">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/MT2">Home</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/MT2/Pregnancy">Pregnancy</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/MT2/Pregnancy/Im-pregnant">I'm Pregnant</a></li>
                  </ol>
                  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/MT2">Home</a></p>
                </div>
              </nav>

        <div class="nhsuk-u-reading-width">
          <h1>
            <span role="text">Week by week
              <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                <span class="nhsuk-u-visually-hidden"> - </span>
                Pregnancy
              </span>
            </span>
          </h1>
          <p class="nhsuk-lede-text">There's a lot to consider when you're pregnant or trying to get pregnant, you can find out about all these and read about your baby's development in our week-by-week pregnancy content.</p>
        </div>



<!-- ROW 1 -->
      <article>
        <section id="key-links" class="nhsuk-u-padding-bottom-8">
          <ul class="nhsuk-hub-key-links">
              <li class="nhsuk-hub-key-links__list-item">
                <a href="#?">Your pregnancy week by week... (loop page - remove?)</a>
              </li>
              <li class="nhsuk-hub-key-links__list-item">
                <a href="/MT2/Pregnancy/Im-pregnant/Week-by-week/1-to-12-weeks">1 to 12 weeks</a>
              </li>
              <li class="nhsuk-hub-key-links__list-item">
                <a href="/MT2/Pregnancy/Im-pregnant/Week-by-week/13-to-28-weeks">13 to 28 weeks</a>
              </li>
              <li class="nhsuk-hub-key-links__list-item">
                <a href="/MT2/Pregnancy/Im-pregnant/Week-by-week/29-to-40-weeks">29 to 40 weeks</a>
              </li>
              <li class="nhsuk-hub-key-links__list-item">
                <a href="/MT2/Pregnancy/Im-pregnant/Week-by-week/40-weeks-plus">40 weeks plus</a>
              </li>
          </ul>
        </section>
      </article>







          </div>
        </div>
      </div>
    </section>







{% endblock %}
